
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox, IE, and Edge */
html {
  /* For Firefox */
  scrollbar-width: none;
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
}

.app {
  text-align: center;
  background-color: #040409;
  background-image: url('../assets/bg1.jpg'); /* Adjust path as needed */
  background-blend-mode: color-dodge;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100vw;
}

.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}

.logo {
  height: 50px; /* Adjust as needed */
  width: auto; /* Maintain the image's aspect ratio */
  vertical-align: middle; /* Align the image with the text */
  transition: transform 0.3s ease-in-out; /* This will animate the hover effect */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add this line */
}

.logo:hover {
  transform: scale(1.1); /* This will scale the logo up to 120% when hovered */
}

.navbar a {
  display: block;
  font-size: 20px; /* Increase the font size to 20 pixels */
  text-align: center;
  padding: 24px 16px;
  padding-right: 48px; /* Add this line */
  text-decoration: none;
}


.profilePicture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out; /* This will animate the hover effect */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8); /* Adjust this line */
}

.introTile {
  padding: 10px; /* Reduce padding */
  margin-bottom: 25px;
  background-color: #ffffff00; /* Adjust as needed */
  margin-right: 250px; /* Adjust the value to make the right margin tighter */
  margin-left: 250px; /* Adjust the value to make the left margin tighter */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}


.introTile h1, .introTile p {
  color: #F0F8FF;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}

.introTile h1 {
  animation: 
    typewriter 1.5s steps(40, end) 1s both;

}

.introTile p {
  animation: 
    typewriter 1.5s steps(50, end) 2.5s both;

}

.navbarItems span.number {
  color: #7DF9FF;
  transition: color 0.3s ease;
}

.navbarItems span.text {
  color: #F0F8FF;
  transition: color 0.3s ease;
}

.navbarItems a:hover span {
  color: #7DF9FF;
  font-weight: bold;
}

.navbarItems {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #F0F8FF;
}




.profilePicture:hover {
  transform: scale(1.1); /* This will scale the image up to 110% when hovered */
}

.header {
  padding: 80px;
  text-align: center;
  font-size: 30px;
}

.homeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.homeButton img {
  height: 70px; /* Adjust as needed */
  width: 70px; /* Adjust as needed */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* This will animate the hover effect */
}

.homeButton img:hover {
  transform: scale(1.1); /* Makes the image 10% larger */
}

main {
  margin-top: 0;
}

body {
  background-color: #040409;
  background-image: url('../assets/bg1.jpg'); /* Adjust path as needed */
  background-blend-mode: color-dodge;
}

html, *{
  margin: 0;
  padding: 0;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-weight: 650;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center; /* This centers the links vertically */
  gap: 40px;
  margin-top: 20px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}