
.projectsSection {
  background-color: #040409;
  padding: 50px;
  font-size: 20px;
}


.number {
  color: #7DF9FF;
}

.text {
  color: #F0F8FF;
}

.smallHeading {
  color: #F0F8FF;
  font-size: 1.2em; /* Adjust as needed */
}

.bigHeading {
  color: #F0F8FF;
  font-size: 2em; /* Adjust as needed */
}
